gen-wsdl/src/main/resources/wsdl/TaskService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. -->
<definitions targetNamespace="http://services.remote.kie.org/6.1.0.1/task" name="TaskService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://services.remote.kie.org/6.1.0.1/task" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xs:schema version="1.0" targetNamespace="http://services.remote.kie.org/6.1.0.1/task" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:element name="KieRemoteWebServiceException" type="tns:KieRemoteWebServiceException"/>

      <xs:element name="query" type="tns:query"/>

      <xs:element name="queryResponse" type="tns:queryResponse"/>

      <xs:element name="taskOperation" type="tns:taskOperation"/>

      <xs:element name="taskOperationResponse" type="tns:taskOperationResponse"/>

      <xs:complexType name="taskOperation">
        <xs:sequence>
          <xs:element name="arg0" type="tns:TaskOperationRequest" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="TaskOperationRequest">
        <xs:sequence>
          <xs:element name="type" type="tns:taskOperationType"/>
          <xs:element name="targetEntityId" type="xs:string" minOccurs="0"/>
          <xs:element name="language" type="xs:string" minOccurs="0"/>
          <xs:element name="user" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="group" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="taskOperationResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="KieRemoteWebServiceException">
        <xs:sequence>
          <xs:element name="faultInfo" type="tns:WebServiceFaultInfo" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="WebServiceFaultInfo">
        <xs:complexContent>
          <xs:extension base="tns:serializableServiceObject">
            <xs:sequence>
              <xs:element name="type" type="tns:exceptionType" minOccurs="0"/>
              <xs:element name="correlationId" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="serializableServiceObject" abstract="true">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="query">
        <xs:sequence>
          <xs:element name="arg0" type="tns:TaskQueryRequest" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="TaskQueryRequest">
        <xs:sequence>
          <xs:element name="workItemId" type="xs:long" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="taskId" type="xs:long" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="procInstId" type="xs:long" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="busAdmin" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="potOwner" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="taskOwner" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="status" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="union" type="xs:boolean" minOccurs="0"/>
          <xs:element name="language" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="maxResults" type="xs:int" minOccurs="0"/>
          <xs:element name="page" type="xs:int" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="queryResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:TaskQueryResponse" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="TaskQueryResponse">
        <xs:sequence>
          <xs:element name="taskSummary" type="tns:TaskSummaryResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="TaskSummaryResponse">
        <xs:sequence>
          <xs:element name="id" type="xs:long"/>
          <xs:element name="name" type="xs:string"/>
          <xs:element name="subject" type="xs:string"/>
          <xs:element name="description" type="xs:string"/>
          <xs:element name="status" type="xs:string"/>
          <xs:element name="priority" type="xs:int"/>
          <xs:element name="skippable" type="xs:boolean"/>
          <xs:element name="actualOwner" type="xs:string"/>
          <xs:element name="createdByUser" type="xs:string"/>
          <xs:element name="createdOn" type="xs:date"/>
          <xs:element name="activationTime" type="xs:dateTime"/>
          <xs:element name="expirationTime" type="xs:dateTime"/>
          <xs:element name="processInstanceId" type="xs:long"/>
          <xs:element name="processId" type="xs:string"/>
          <xs:element name="processSessionId" type="xs:int"/>
          <xs:element name="subTaskStrategy" type="xs:string"/>
          <xs:element name="parentId" type="xs:long"/>
          <xs:element name="potentialOwners" type="xs:string" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:simpleType name="taskOperationType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="ACTIVATE"/>
          <xs:enumeration value="CLAIM"/>
          <xs:enumeration value="CLAIM_NEXT_AVAILABLE"/>
          <xs:enumeration value="COMPLETE"/>
          <xs:enumeration value="DELEGATE"/>
          <xs:enumeration value="EXIT"/>
          <xs:enumeration value="FAIL"/>
          <xs:enumeration value="FORWARD"/>
          <xs:enumeration value="NOMINATE"/>
          <xs:enumeration value="RELEASE"/>
          <xs:enumeration value="RESUME"/>
          <xs:enumeration value="SKIP"/>
          <xs:enumeration value="STOP"/>
          <xs:enumeration value="SUSPEND"/>
        </xs:restriction>
      </xs:simpleType>

      <xs:simpleType name="exceptionType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="SYSTEM"/>
          <xs:enumeration value="CONFIGURATION"/>
          <xs:enumeration value="VALIDATION"/>
          <xs:enumeration value="PERMISSION"/>
          <xs:enumeration value="CONFLICT"/>
        </xs:restriction>
      </xs:simpleType>
</xs:schema>
  </types>
  <message name="query">
    <part name="parameters" element="tns:query"/>
  </message>
  <message name="queryResponse">
    <part name="parameters" element="tns:queryResponse"/>
  </message>
  <message name="KieRemoteWebServiceException">
    <part name="fault" element="tns:KieRemoteWebServiceException"/>
  </message>
  <message name="taskOperation">
    <part name="parameters" element="tns:taskOperation"/>
  </message>
  <message name="taskOperationResponse">
    <part name="parameters" element="tns:taskOperationResponse"/>
  </message>
  <portType name="TaskService">
    <operation name="query">
      <input wsam:Action="http://services.remote.kie.org/6.1.0.1/task/TaskService/queryRequest" message="tns:query"/>
      <output wsam:Action="http://services.remote.kie.org/6.1.0.1/task/TaskService/queryResponse" message="tns:queryResponse"/>
      <fault message="tns:KieRemoteWebServiceException" name="KieRemoteWebServiceException" wsam:Action="http://services.remote.kie.org/6.1.0.1/task/TaskService/query/Fault/KieRemoteWebServiceException"/>
    </operation>
    <operation name="taskOperation">
      <input wsam:Action="http://services.remote.kie.org/6.1.0.1/task/TaskService/taskOperationRequest" message="tns:taskOperation"/>
      <output wsam:Action="http://services.remote.kie.org/6.1.0.1/task/TaskService/taskOperationResponse" message="tns:taskOperationResponse"/>
      <fault message="tns:KieRemoteWebServiceException" name="KieRemoteWebServiceException" wsam:Action="http://services.remote.kie.org/6.1.0.1/task/TaskService/taskOperation/Fault/KieRemoteWebServiceException"/>
    </operation>
  </portType>
  <binding name="TaskServicePortBinding" type="tns:TaskService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="query">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="KieRemoteWebServiceException">
        <soap:fault name="KieRemoteWebServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="taskOperation">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="KieRemoteWebServiceException">
        <soap:fault name="KieRemoteWebServiceException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="TaskService">
    <port name="TaskServicePort" binding="tns:TaskServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

