wsdl/src/main/resources/wsdl/ProcessService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. -->
<definitions targetNamespace="http://services.remote.kie.org/process" name="ProcessService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://services.remote.kie.org/process" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xs:schema version="1.0" targetNamespace="http://services.remote.kie.org/process" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:element name="ProcessServiceException" nillable="true" type="tns:serviceFaultInfoSO"/>

      <xs:element name="abort" type="tns:abort"/>

      <xs:element name="abortResponse" type="tns:abortResponse"/>

      <xs:element name="abortWorkItem" type="tns:abortWorkItem"/>

      <xs:element name="abortWorkItemResponse" type="tns:abortWorkItemResponse"/>

      <xs:element name="completeWorkItem" type="tns:completeWorkItem"/>

      <xs:element name="completeWorkItemResponse" type="tns:completeWorkItemResponse"/>

      <xs:element name="getInfo" type="tns:getInfo"/>

      <xs:element name="getInfoResponse" type="tns:getInfoResponse"/>

      <xs:element name="signal" type="tns:signal"/>

      <xs:element name="signalResponse" type="tns:signalResponse"/>

      <xs:element name="start" type="tns:start"/>

      <xs:element name="startResponse" type="tns:startResponse"/>

      <xs:element name="version" type="tns:version"/>

      <xs:element name="versionResponse" type="tns:versionResponse"/>

      <xs:complexType name="abort">
        <xs:sequence>
          <xs:element name="arg0" type="tns:ProcessInstanceId" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="ProcessInstanceId">
        <xs:sequence>
          <xs:element name="deployment-id" type="xs:string"/>
          <xs:element name="process-instance-id" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="abortResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="serviceFaultInfoSO">
        <xs:complexContent>
          <xs:extension base="tns:abstractServiceObject">
            <xs:sequence>
              <xs:element name="correlationId" type="xs:string" minOccurs="0"/>
              <xs:element name="meldingLijst" type="tns:serviceMeldingSO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="type" type="tns:exceptionType" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="abstractServiceObject" abstract="true">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="serviceMeldingSO">
        <xs:complexContent>
          <xs:extension base="tns:abstractServiceObject">
            <xs:sequence>
              <xs:element name="code" type="xs:string" minOccurs="0"/>
              <xs:element name="omschrijving" type="xs:string" minOccurs="0"/>
              <xs:element name="type" type="tns:serviceMeldingType" minOccurs="0"/>
              <xs:element name="variabele" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="version">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="versionResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:versionSO" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="versionSO">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="getInfo">
        <xs:sequence>
          <xs:element name="arg0" type="tns:GetProcessInstanceInfo" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetProcessInstanceInfo">
        <xs:sequence>
          <xs:element name="deployment-id" type="xs:string"/>
          <xs:element name="process-instance-id" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="getInfoResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:ProcessInstanceInfo" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="ProcessInstanceInfo">
        <xs:sequence>
          <xs:element name="id" type="xs:long"/>
          <xs:element name="state" type="xs:int"/>
          <xs:element name="process-id" type="xs:string"/>
          <xs:element name="event-types" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="signal">
        <xs:sequence>
          <xs:element name="arg0" type="tns:ProcessInstanceId" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="signalResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="completeWorkItem">
        <xs:sequence>
          <xs:element name="arg0" type="tns:WorkItemId" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="WorkItemId">
        <xs:complexContent>
          <xs:extension base="tns:abstractServiceObject">
            <xs:sequence>
              <xs:element name="deployment-id" type="xs:string"/>
              <xs:element name="work-item-id" type="xs:int"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="completeWorkItemResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="start">
        <xs:sequence>
          <xs:element name="arg0" type="tns:ProcessDefIdAndParameters" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="ProcessDefIdAndParameters">
        <xs:sequence>
          <xs:element name="deployment-id" type="xs:string"/>
          <xs:element name="process-definition-id" type="xs:string"/>
          <xs:element name="parameters">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="key" minOccurs="0" type="xs:string"/>
                      <xs:element name="value" minOccurs="0" type="xs:anyType"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="startResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:ProcessInstanceInfo" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="abortWorkItem">
        <xs:sequence>
          <xs:element name="arg0" type="tns:WorkItemId" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="abortWorkItemResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:simpleType name="serviceMeldingType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="ERROR"/>
          <xs:enumeration value="DEBUG"/>
          <xs:enumeration value="INFO"/>
          <xs:enumeration value="WARN"/>
          <xs:enumeration value="FATAL"/>
        </xs:restriction>
      </xs:simpleType>

      <xs:simpleType name="exceptionType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="SYSTEM"/>
          <xs:enumeration value="VALIDATION"/>
          <xs:enumeration value="PERMISSION"/>
          <xs:enumeration value="CONNECTION"/>
        </xs:restriction>
      </xs:simpleType>
</xs:schema>
  </types>
  <message name="start">
    <part name="parameters" element="tns:start"/>
  </message>
  <message name="startResponse">
    <part name="parameters" element="tns:startResponse"/>
  </message>
  <message name="ProcessWebServiceException">
    <part name="fault" element="tns:ProcessServiceException"/>
  </message>
  <message name="version">
    <part name="parameters" element="tns:version"/>
  </message>
  <message name="versionResponse">
    <part name="parameters" element="tns:versionResponse"/>
  </message>
  <message name="abort">
    <part name="parameters" element="tns:abort"/>
  </message>
  <message name="abortResponse">
    <part name="parameters" element="tns:abortResponse"/>
  </message>
  <message name="signal">
    <part name="parameters" element="tns:signal"/>
  </message>
  <message name="signalResponse">
    <part name="parameters" element="tns:signalResponse"/>
  </message>
  <message name="getInfo">
    <part name="parameters" element="tns:getInfo"/>
  </message>
  <message name="getInfoResponse">
    <part name="parameters" element="tns:getInfoResponse"/>
  </message>
  <message name="completeWorkItem">
    <part name="parameters" element="tns:completeWorkItem"/>
  </message>
  <message name="completeWorkItemResponse">
    <part name="parameters" element="tns:completeWorkItemResponse"/>
  </message>
  <message name="abortWorkItem">
    <part name="parameters" element="tns:abortWorkItem"/>
  </message>
  <message name="abortWorkItemResponse">
    <part name="parameters" element="tns:abortWorkItemResponse"/>
  </message>
  <portType name="ProcessService">
    <operation name="start">
      <input wsam:Action="http://services.remote.kie.org/process/ProcessService/startRequest" message="tns:start"/>
      <output wsam:Action="http://services.remote.kie.org/process/ProcessService/startResponse" message="tns:startResponse"/>
      <fault message="tns:ProcessWebServiceException" name="ProcessWebServiceException" wsam:Action="http://services.remote.kie.org/process/ProcessService/start/Fault/ProcessWebServiceException"/>
    </operation>
    <operation name="version">
      <input wsam:Action="http://services.remote.kie.org/process/ProcessService/versionRequest" message="tns:version"/>
      <output wsam:Action="http://services.remote.kie.org/process/ProcessService/versionResponse" message="tns:versionResponse"/>
      <fault message="tns:ProcessWebServiceException" name="ProcessWebServiceException" wsam:Action="http://services.remote.kie.org/process/ProcessService/version/Fault/ProcessWebServiceException"/>
    </operation>
    <operation name="abort">
      <input wsam:Action="http://services.remote.kie.org/process/ProcessService/abortRequest" message="tns:abort"/>
      <output wsam:Action="http://services.remote.kie.org/process/ProcessService/abortResponse" message="tns:abortResponse"/>
      <fault message="tns:ProcessWebServiceException" name="ProcessWebServiceException" wsam:Action="http://services.remote.kie.org/process/ProcessService/abort/Fault/ProcessWebServiceException"/>
    </operation>
    <operation name="signal">
      <input wsam:Action="http://services.remote.kie.org/process/ProcessService/signalRequest" message="tns:signal"/>
      <output wsam:Action="http://services.remote.kie.org/process/ProcessService/signalResponse" message="tns:signalResponse"/>
      <fault message="tns:ProcessWebServiceException" name="ProcessWebServiceException" wsam:Action="http://services.remote.kie.org/process/ProcessService/signal/Fault/ProcessWebServiceException"/>
    </operation>
    <operation name="getInfo">
      <input wsam:Action="http://services.remote.kie.org/process/ProcessService/getInfoRequest" message="tns:getInfo"/>
      <output wsam:Action="http://services.remote.kie.org/process/ProcessService/getInfoResponse" message="tns:getInfoResponse"/>
      <fault message="tns:ProcessWebServiceException" name="ProcessWebServiceException" wsam:Action="http://services.remote.kie.org/process/ProcessService/getInfo/Fault/ProcessWebServiceException"/>
    </operation>
    <operation name="completeWorkItem">
      <input wsam:Action="http://services.remote.kie.org/process/ProcessService/completeWorkItemRequest" message="tns:completeWorkItem"/>
      <output wsam:Action="http://services.remote.kie.org/process/ProcessService/completeWorkItemResponse" message="tns:completeWorkItemResponse"/>
      <fault message="tns:ProcessWebServiceException" name="ProcessWebServiceException" wsam:Action="http://services.remote.kie.org/process/ProcessService/completeWorkItem/Fault/ProcessWebServiceException"/>
    </operation>
    <operation name="abortWorkItem">
      <input wsam:Action="http://services.remote.kie.org/process/ProcessService/abortWorkItemRequest" message="tns:abortWorkItem"/>
      <output wsam:Action="http://services.remote.kie.org/process/ProcessService/abortWorkItemResponse" message="tns:abortWorkItemResponse"/>
      <fault message="tns:ProcessWebServiceException" name="ProcessWebServiceException" wsam:Action="http://services.remote.kie.org/process/ProcessService/abortWorkItem/Fault/ProcessWebServiceException"/>
    </operation>
  </portType>
  <binding name="ProcessServicePortBinding" type="tns:ProcessService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="start">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ProcessWebServiceException">
        <soap:fault name="ProcessWebServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="version">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ProcessWebServiceException">
        <soap:fault name="ProcessWebServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="abort">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ProcessWebServiceException">
        <soap:fault name="ProcessWebServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="signal">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ProcessWebServiceException">
        <soap:fault name="ProcessWebServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="getInfo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ProcessWebServiceException">
        <soap:fault name="ProcessWebServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="completeWorkItem">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ProcessWebServiceException">
        <soap:fault name="ProcessWebServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="abortWorkItem">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ProcessWebServiceException">
        <soap:fault name="ProcessWebServiceException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="ProcessService">
    <port name="ProcessServicePort" binding="tns:ProcessServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

