common/src/main/resources/wsdl/DeploymentService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. -->
<definitions targetNamespace="http://services.remote.kie.org/deploy" name="DeploymentService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://services.remote.kie.org/deploy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xs:schema version="1.0" targetNamespace="http://services.remote.kie.org/deploy" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:element name="KieRemoteWebServiceException" type="tns:KieRemoteWebServiceException"/>

      <xs:element name="getProcessDefinition" type="tns:getProcessDefinition"/>

      <xs:element name="getProcessDefinitionIds" type="tns:getProcessDefinitionIds"/>

      <xs:element name="getProcessDefinitionIdsResponse" type="tns:getProcessDefinitionIdsResponse"/>

      <xs:element name="getProcessDefinitionResponse" type="tns:getProcessDefinitionResponse"/>

      <xs:element name="manage" type="tns:manage"/>

      <xs:element name="manageResponse" type="tns:manageResponse"/>

      <xs:complexType name="getProcessDefinitionIds">
        <xs:sequence>
          <xs:element name="arg0" type="tns:DeploymentIdRequest" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="DeploymentIdRequest">
        <xs:sequence>
          <xs:element name="deploymentId" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="getProcessDefinitionIdsResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:ProcessIdsResponse" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="ProcessIdsResponse">
        <xs:sequence>
          <xs:element name="processId" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="KieRemoteWebServiceException">
        <xs:sequence>
          <xs:element name="faultInfo" type="tns:webServiceFaultInfo" minOccurs="0"/>
          <xs:element name="message" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="webServiceFaultInfo">
        <xs:complexContent>
          <xs:extension base="tns:serializableServiceObject">
            <xs:sequence>
              <xs:element name="correlationId" type="xs:string" minOccurs="0"/>
              <xs:element name="type" type="tns:exceptionType" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="serializableServiceObject" abstract="true">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="manage">
        <xs:sequence>
          <xs:element name="arg0" type="tns:DeploymentIdRequest" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="manageResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:DeploymentInfoResponse" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="DeploymentInfoResponse">
        <xs:sequence>
          <xs:element name="groupId" type="xs:string" minOccurs="0"/>
          <xs:element name="artifactId" type="xs:string" minOccurs="0"/>
          <xs:element name="version" type="xs:string" minOccurs="0"/>
          <xs:element name="kbaseName" type="xs:string" minOccurs="0"/>
          <xs:element name="ksessionName" type="xs:string" minOccurs="0"/>
          <xs:element name="strategy" type="xs:string" minOccurs="0"/>
          <xs:element name="identifier" type="xs:string" minOccurs="0"/>
          <xs:element name="status" type="xs:string" minOccurs="0"/>
          <xs:element name="operation" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="getProcessDefinition">
        <xs:sequence>
          <xs:element name="arg0" type="tns:DeploymentIdRequest" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="getProcessDefinitionResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:ProcessDefinitionResponse" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="ProcessDefinitionResponse">
        <xs:sequence>
          <xs:element name="id" type="xs:string" minOccurs="0"/>
          <xs:element name="name" type="xs:string" minOccurs="0"/>
          <xs:element name="version" type="xs:string" minOccurs="0"/>
          <xs:element name="package-name" type="xs:string" minOccurs="0"/>
          <xs:element name="deployment-id" type="xs:string" minOccurs="0"/>
          <xs:element name="encoded-process-source" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:simpleType name="exceptionType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="SYSTEM"/>
          <xs:enumeration value="CONFIGURATION"/>
          <xs:enumeration value="VALIDATION"/>
          <xs:enumeration value="PERMISSION"/>
          <xs:enumeration value="CONFLICT"/>
        </xs:restriction>
      </xs:simpleType>
</xs:schema>
  </types>
  <message name="manage">
    <part name="parameters" element="tns:manage"/>
  </message>
  <message name="manageResponse">
    <part name="parameters" element="tns:manageResponse"/>
  </message>
  <message name="KieRemoteWebServiceException">
    <part name="fault" element="tns:KieRemoteWebServiceException"/>
  </message>
  <message name="getProcessDefinitionIds">
    <part name="parameters" element="tns:getProcessDefinitionIds"/>
  </message>
  <message name="getProcessDefinitionIdsResponse">
    <part name="parameters" element="tns:getProcessDefinitionIdsResponse"/>
  </message>
  <message name="getProcessDefinition">
    <part name="parameters" element="tns:getProcessDefinition"/>
  </message>
  <message name="getProcessDefinitionResponse">
    <part name="parameters" element="tns:getProcessDefinitionResponse"/>
  </message>
  <portType name="DeploymentService">
    <operation name="manage">
      <input wsam:Action="http://services.remote.kie.org/deploy/DeploymentService/manageRequest" message="tns:manage"/>
      <output wsam:Action="http://services.remote.kie.org/deploy/DeploymentService/manageResponse" message="tns:manageResponse"/>
      <fault message="tns:KieRemoteWebServiceException" name="KieRemoteWebServiceException" wsam:Action="http://services.remote.kie.org/deploy/DeploymentService/manage/Fault/KieRemoteWebServiceException"/>
    </operation>
    <operation name="getProcessDefinitionIds">
      <input wsam:Action="http://services.remote.kie.org/deploy/DeploymentService/getProcessDefinitionIdsRequest" message="tns:getProcessDefinitionIds"/>
      <output wsam:Action="http://services.remote.kie.org/deploy/DeploymentService/getProcessDefinitionIdsResponse" message="tns:getProcessDefinitionIdsResponse"/>
      <fault message="tns:KieRemoteWebServiceException" name="KieRemoteWebServiceException" wsam:Action="http://services.remote.kie.org/deploy/DeploymentService/getProcessDefinitionIds/Fault/KieRemoteWebServiceException"/>
    </operation>
    <operation name="getProcessDefinition">
      <input wsam:Action="http://services.remote.kie.org/deploy/DeploymentService/getProcessDefinitionRequest" message="tns:getProcessDefinition"/>
      <output wsam:Action="http://services.remote.kie.org/deploy/DeploymentService/getProcessDefinitionResponse" message="tns:getProcessDefinitionResponse"/>
      <fault message="tns:KieRemoteWebServiceException" name="KieRemoteWebServiceException" wsam:Action="http://services.remote.kie.org/deploy/DeploymentService/getProcessDefinition/Fault/KieRemoteWebServiceException"/>
    </operation>
  </portType>
  <binding name="DeploymentServicePortBinding" type="tns:DeploymentService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="manage">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="KieRemoteWebServiceException">
        <soap:fault name="KieRemoteWebServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="getProcessDefinitionIds">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="KieRemoteWebServiceException">
        <soap:fault name="KieRemoteWebServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="getProcessDefinition">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="KieRemoteWebServiceException">
        <soap:fault name="KieRemoteWebServiceException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="DeploymentService">
    <port name="DeploymentServicePort" binding="tns:DeploymentServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

