common/src/main/resources/wsdl/HistoryService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. -->
<definitions targetNamespace="http://services.remote.kie.org/history" name="HistoryService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://services.remote.kie.org/history" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xs:schema version="1.0" targetNamespace="http://services.remote.kie.org/history" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:element name="KieRemoteWebServiceException" type="tns:KieRemoteWebServiceException"/>

      <xs:element name="findNodeInstanceLogs" type="tns:findNodeInstanceLogs"/>

      <xs:element name="findNodeInstanceLogsResponse" type="tns:findNodeInstanceLogsResponse"/>

      <xs:element name="findProcessInstanceLogs" type="tns:findProcessInstanceLogs"/>

      <xs:element name="findProcessInstanceLogsResponse" type="tns:findProcessInstanceLogsResponse"/>

      <xs:element name="findVariableInstanceLogs" type="tns:findVariableInstanceLogs"/>

      <xs:element name="findVariableInstanceLogsResponse" type="tns:findVariableInstanceLogsResponse"/>

      <xs:complexType name="findNodeInstanceLogs">
        <xs:sequence>
          <xs:element name="arg0" type="tns:HistoryInstanceLogRequest" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="HistoryInstanceLogRequest">
        <xs:sequence>
          <xs:element name="logType" type="tns:historyInstanceLogType" minOccurs="0"/>
          <xs:element name="processInstanceId" type="xs:string" minOccurs="0"/>
          <xs:element name="nodeId" type="xs:string" minOccurs="0"/>
          <xs:element name="variableId" type="xs:string" minOccurs="0"/>
          <xs:element name="variableValue" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="findNodeInstanceLogsResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:VariableInstanceLogResponse" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="VariableInstanceLogResponse">
        <xs:sequence>
          <xs:element name="id" type="xs:long"/>
          <xs:element name="processInstanceId" type="xs:long" minOccurs="0"/>
          <xs:element name="processId" type="xs:string" minOccurs="0"/>
          <xs:element name="date" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="variableInstanceId" type="xs:string" minOccurs="0"/>
          <xs:element name="variableId" type="xs:string" minOccurs="0"/>
          <xs:element name="value" type="xs:string" minOccurs="0"/>
          <xs:element name="oldValue" type="xs:string" minOccurs="0"/>
          <xs:element name="externalId" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="KieRemoteWebServiceException">
        <xs:sequence>
          <xs:element name="faultInfo" type="tns:webServiceFaultInfo" minOccurs="0"/>
          <xs:element name="message" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="webServiceFaultInfo">
        <xs:complexContent>
          <xs:extension base="tns:serializableServiceObject">
            <xs:sequence>
              <xs:element name="correlationId" type="xs:string" minOccurs="0"/>
              <xs:element name="type" type="tns:exceptionType" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="serializableServiceObject" abstract="true">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="findVariableInstanceLogs">
        <xs:sequence>
          <xs:element name="arg0" type="tns:HistoryInstanceLogRequest" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="findVariableInstanceLogsResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:VariableInstanceLogResponse" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="findProcessInstanceLogs">
        <xs:sequence>
          <xs:element name="arg0" type="tns:HistoryInstanceLogRequest" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="findProcessInstanceLogsResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:ProcessInstanceLogResponse" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="ProcessInstanceLogResponse">
        <xs:sequence>
          <xs:element name="id" type="xs:long" minOccurs="0"/>
          <xs:element name="processInstanceId" type="xs:long" minOccurs="0"/>
          <xs:element name="processId" type="xs:string" minOccurs="0"/>
          <xs:element name="startDate" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="endDate" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="status" type="xs:int" minOccurs="0"/>
          <xs:element name="parentProcessInstanceId" type="xs:long" minOccurs="0"/>
          <xs:element name="outcome" type="xs:string" minOccurs="0"/>
          <xs:element name="duration" type="xs:long" minOccurs="0"/>
          <xs:element name="identity" type="xs:string" minOccurs="0"/>
          <xs:element name="processVersion" type="xs:string" minOccurs="0"/>
          <xs:element name="processName" type="xs:string" minOccurs="0"/>
          <xs:element name="externalId" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:simpleType name="historyInstanceLogType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="PROCESS"/>
          <xs:enumeration value="NODE"/>
          <xs:enumeration value="VARIABLE"/>
          <xs:enumeration value="TASK"/>
        </xs:restriction>
      </xs:simpleType>

      <xs:simpleType name="exceptionType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="SYSTEM"/>
          <xs:enumeration value="CONFIGURATION"/>
          <xs:enumeration value="VALIDATION"/>
          <xs:enumeration value="PERMISSION"/>
          <xs:enumeration value="CONFLICT"/>
        </xs:restriction>
      </xs:simpleType>
</xs:schema>
  </types>
  <message name="findProcessInstanceLogs">
    <part name="parameters" element="tns:findProcessInstanceLogs"/>
  </message>
  <message name="findProcessInstanceLogsResponse">
    <part name="parameters" element="tns:findProcessInstanceLogsResponse"/>
  </message>
  <message name="KieRemoteWebServiceException">
    <part name="fault" element="tns:KieRemoteWebServiceException"/>
  </message>
  <message name="findNodeInstanceLogs">
    <part name="parameters" element="tns:findNodeInstanceLogs"/>
  </message>
  <message name="findNodeInstanceLogsResponse">
    <part name="parameters" element="tns:findNodeInstanceLogsResponse"/>
  </message>
  <message name="findVariableInstanceLogs">
    <part name="parameters" element="tns:findVariableInstanceLogs"/>
  </message>
  <message name="findVariableInstanceLogsResponse">
    <part name="parameters" element="tns:findVariableInstanceLogsResponse"/>
  </message>
  <portType name="HistoryService">
    <operation name="findProcessInstanceLogs">
      <input wsam:Action="http://services.remote.kie.org/history/HistoryService/findProcessInstanceLogsRequest" message="tns:findProcessInstanceLogs"/>
      <output wsam:Action="http://services.remote.kie.org/history/HistoryService/findProcessInstanceLogsResponse" message="tns:findProcessInstanceLogsResponse"/>
      <fault message="tns:KieRemoteWebServiceException" name="KieRemoteWebServiceException" wsam:Action="http://services.remote.kie.org/history/HistoryService/findProcessInstanceLogs/Fault/KieRemoteWebServiceException"/>
    </operation>
    <operation name="findNodeInstanceLogs">
      <input wsam:Action="http://services.remote.kie.org/history/HistoryService/findNodeInstanceLogsRequest" message="tns:findNodeInstanceLogs"/>
      <output wsam:Action="http://services.remote.kie.org/history/HistoryService/findNodeInstanceLogsResponse" message="tns:findNodeInstanceLogsResponse"/>
      <fault message="tns:KieRemoteWebServiceException" name="KieRemoteWebServiceException" wsam:Action="http://services.remote.kie.org/history/HistoryService/findNodeInstanceLogs/Fault/KieRemoteWebServiceException"/>
    </operation>
    <operation name="findVariableInstanceLogs">
      <input wsam:Action="http://services.remote.kie.org/history/HistoryService/findVariableInstanceLogsRequest" message="tns:findVariableInstanceLogs"/>
      <output wsam:Action="http://services.remote.kie.org/history/HistoryService/findVariableInstanceLogsResponse" message="tns:findVariableInstanceLogsResponse"/>
      <fault message="tns:KieRemoteWebServiceException" name="KieRemoteWebServiceException" wsam:Action="http://services.remote.kie.org/history/HistoryService/findVariableInstanceLogs/Fault/KieRemoteWebServiceException"/>
    </operation>
  </portType>
  <binding name="HistoryServicePortBinding" type="tns:HistoryService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="findProcessInstanceLogs">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="KieRemoteWebServiceException">
        <soap:fault name="KieRemoteWebServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findNodeInstanceLogs">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="KieRemoteWebServiceException">
        <soap:fault name="KieRemoteWebServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findVariableInstanceLogs">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="KieRemoteWebServiceException">
        <soap:fault name="KieRemoteWebServiceException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="HistoryService">
    <port name="HistoryServicePort" binding="tns:HistoryServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

