common/src/main/resources/wsdl/KnowledgeStoreService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. -->
<definitions targetNamespace="http://services.remote.kie.org/knowledge" name="KnowledgeStoreService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://services.remote.kie.org/knowledge" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xs:schema version="1.0" targetNamespace="http://services.remote.kie.org/knowledge" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:element name="KieRemoteWebServiceException" type="tns:KieRemoteWebServiceException"/>

      <xs:element name="getProjects" type="tns:getProjects"/>

      <xs:element name="getProjectsResponse" type="tns:getProjectsResponse"/>

      <xs:element name="getRepositories" type="tns:getRepositories"/>

      <xs:element name="getRepositoriesResponse" type="tns:getRepositoriesResponse"/>

      <xs:element name="manageProjects" type="tns:manageProjects"/>

      <xs:element name="manageProjectsResponse" type="tns:manageProjectsResponse"/>

      <xs:element name="manageRepositories" type="tns:manageRepositories"/>

      <xs:element name="manageRepositoriesResponse" type="tns:manageRepositoriesResponse"/>

      <xs:complexType name="manageRepositories">
        <xs:sequence>
          <xs:element name="arg0" type="tns:RepositoryOperationRequest" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="RepositoryOperationRequest">
        <xs:sequence>
          <xs:element name="deploymentId" type="xs:string"/>
          <xs:element name="processInstanceId" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="manageRepositoriesResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="KieRemoteWebServiceException">
        <xs:sequence>
          <xs:element name="faultInfo" type="tns:webServiceFaultInfo" minOccurs="0"/>
          <xs:element name="message" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="webServiceFaultInfo">
        <xs:complexContent>
          <xs:extension base="tns:serializableServiceObject">
            <xs:sequence>
              <xs:element name="correlationId" type="xs:string" minOccurs="0"/>
              <xs:element name="type" type="tns:exceptionType" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="serializableServiceObject" abstract="true">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="getProjects">
        <xs:sequence>
          <xs:element name="arg0" type="tns:ProjectsResponse" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="ProjectsResponse">
        <xs:sequence>
          <xs:element name="deploymentId" type="xs:string"/>
          <xs:element name="processInstanceId" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="getProjectsResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:ProjectsResponse" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="getRepositories">
        <xs:sequence>
          <xs:element name="arg0" type="tns:RepositoriesRequest" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="RepositoriesRequest">
        <xs:sequence>
          <xs:element name="deploymentId" type="xs:string"/>
          <xs:element name="processInstanceId" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="getRepositoriesResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:RepositoryResponse" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="RepositoryResponse">
        <xs:sequence>
          <xs:element name="userName" type="xs:string" minOccurs="0"/>
          <xs:element name="requestType" type="xs:string" minOccurs="0"/>
          <xs:element name="gitURL" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="manageProjects">
        <xs:sequence>
          <xs:element name="arg0" type="tns:ProjectOperationRequest" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="ProjectOperationRequest">
        <xs:sequence>
          <xs:element name="deploymentId" type="xs:string"/>
          <xs:element name="processInstanceId" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="manageProjectsResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:simpleType name="exceptionType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="SYSTEM"/>
          <xs:enumeration value="CONFIGURATION"/>
          <xs:enumeration value="VALIDATION"/>
          <xs:enumeration value="PERMISSION"/>
          <xs:enumeration value="CONFLICT"/>
        </xs:restriction>
      </xs:simpleType>
</xs:schema>
  </types>
  <message name="getRepositories">
    <part name="parameters" element="tns:getRepositories"/>
  </message>
  <message name="getRepositoriesResponse">
    <part name="parameters" element="tns:getRepositoriesResponse"/>
  </message>
  <message name="KieRemoteWebServiceException">
    <part name="fault" element="tns:KieRemoteWebServiceException"/>
  </message>
  <message name="manageRepositories">
    <part name="parameters" element="tns:manageRepositories"/>
  </message>
  <message name="manageRepositoriesResponse">
    <part name="parameters" element="tns:manageRepositoriesResponse"/>
  </message>
  <message name="getProjects">
    <part name="parameters" element="tns:getProjects"/>
  </message>
  <message name="getProjectsResponse">
    <part name="parameters" element="tns:getProjectsResponse"/>
  </message>
  <message name="manageProjects">
    <part name="parameters" element="tns:manageProjects"/>
  </message>
  <message name="manageProjectsResponse">
    <part name="parameters" element="tns:manageProjectsResponse"/>
  </message>
  <portType name="KnowledgeStoreService">
    <operation name="getRepositories">
      <input wsam:Action="http://services.remote.kie.org/knowledge/KnowledgeStoreService/getRepositoriesRequest" message="tns:getRepositories"/>
      <output wsam:Action="http://services.remote.kie.org/knowledge/KnowledgeStoreService/getRepositoriesResponse" message="tns:getRepositoriesResponse"/>
      <fault message="tns:KieRemoteWebServiceException" name="KieRemoteWebServiceException" wsam:Action="http://services.remote.kie.org/knowledge/KnowledgeStoreService/getRepositories/Fault/KieRemoteWebServiceException"/>
    </operation>
    <operation name="manageRepositories">
      <input wsam:Action="http://services.remote.kie.org/knowledge/KnowledgeStoreService/manageRepositoriesRequest" message="tns:manageRepositories"/>
      <output wsam:Action="http://services.remote.kie.org/knowledge/KnowledgeStoreService/manageRepositoriesResponse" message="tns:manageRepositoriesResponse"/>
      <fault message="tns:KieRemoteWebServiceException" name="KieRemoteWebServiceException" wsam:Action="http://services.remote.kie.org/knowledge/KnowledgeStoreService/manageRepositories/Fault/KieRemoteWebServiceException"/>
    </operation>
    <operation name="getProjects">
      <input wsam:Action="http://services.remote.kie.org/knowledge/KnowledgeStoreService/getProjectsRequest" message="tns:getProjects"/>
      <output wsam:Action="http://services.remote.kie.org/knowledge/KnowledgeStoreService/getProjectsResponse" message="tns:getProjectsResponse"/>
      <fault message="tns:KieRemoteWebServiceException" name="KieRemoteWebServiceException" wsam:Action="http://services.remote.kie.org/knowledge/KnowledgeStoreService/getProjects/Fault/KieRemoteWebServiceException"/>
    </operation>
    <operation name="manageProjects">
      <input wsam:Action="http://services.remote.kie.org/knowledge/KnowledgeStoreService/manageProjectsRequest" message="tns:manageProjects"/>
      <output wsam:Action="http://services.remote.kie.org/knowledge/KnowledgeStoreService/manageProjectsResponse" message="tns:manageProjectsResponse"/>
      <fault message="tns:KieRemoteWebServiceException" name="KieRemoteWebServiceException" wsam:Action="http://services.remote.kie.org/knowledge/KnowledgeStoreService/manageProjects/Fault/KieRemoteWebServiceException"/>
    </operation>
  </portType>
  <binding name="KnowledgeStoreServicePortBinding" type="tns:KnowledgeStoreService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getRepositories">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="KieRemoteWebServiceException">
        <soap:fault name="KieRemoteWebServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="manageRepositories">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="KieRemoteWebServiceException">
        <soap:fault name="KieRemoteWebServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="getProjects">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="KieRemoteWebServiceException">
        <soap:fault name="KieRemoteWebServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="manageProjects">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="KieRemoteWebServiceException">
        <soap:fault name="KieRemoteWebServiceException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="KnowledgeStoreService">
    <port name="KnowledgeStoreServicePort" binding="tns:KnowledgeStoreServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

