gen/src/main/resources/META-INF/wsdl/CommandService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<definitions 
    xmlns="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:tns="http://services.remote.kie.org/command" 
    xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    name="CommandService" 
    targetNamespace="http://services.remote.kie.org/6.1.0.1/command" 
    >
  <!-- JAX-WS Customizations: Wrapper styles, async. -->
  <jaxws:bindings xmlns:jaxws="http://java.sun.com/xml/ns/jaxws">
    <jaxws:enableWrapperStyle>true</jaxws:enableWrapperStyle>
    <jaxws:enableAsyncMapping>false</jaxws:enableAsyncMapping>
  </jaxws:bindings>
  <types xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:schema 
        xmlns:jxb="http://java.sun.com/xml/ns/jaxb" 
        xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc" 
        jxb:extensionBindingPrefixes="xjc" 
        jxb:version="1.0" 
        targetNamespace="http://services.remote.kie.org/6.1.0.1/command" 
        version="1.0">
      <xs:annotation>
        <xs:appinfo>
          <jxb:globalBindings collectionType="java.util.LinkedList" fixedAttributeAsConstantProperty="true" generateIsSetMethod="false">
            <xjc:serializable uid="1"/>
          </jxb:globalBindings>
        </xs:appinfo>
      </xs:annotation> 

      <xs:element name="KieRemoteWebServiceException" type="tns:KieRemoteWebServiceException"/>
      <!-- commands --> 
      <xs:element name="abortWorkItemCommand" type="tns:abortWorkItemCommand"/>
      <xs:element name="activate-task-command" type="tns:activateTaskCommand"/>
      <xs:element name="add-task-command" type="tns:addTaskCommand"/>
      <xs:element name="attachment" type="tns:jaxbAttachment"/>
      <xs:element name="cancel-deadline-command" type="tns:cancelDeadlineCommand"/>
      <xs:element name="claim-next-task-command" type="tns:claimNextAvailableTaskCommand"/>
      <xs:element name="claim-task-command" type="tns:claimTaskCommand"/>
      <xs:element name="clearHistoryLogsCommand" type="tns:clearHistoryLogsCommand"/>
      <xs:element name="command-request" type="tns:jaxbCommandsRequest"/>
      <xs:element name="command-response" type="tns:jaxbCommandsResponse"/>
      <xs:element name="comment" type="tns:jaxbComment"/>
      <xs:element name="complete-task-command" type="tns:completeTaskCommand"/>
      <xs:element name="completeWorkItemCommand" type="tns:completeWorkItemCommand"/>
      <xs:element name="content" type="tns:jaxbContent"/>
      <xs:element name="content-response" type="tns:jaxbContentResponse"/>
      <xs:element name="delegate-task-command" type="tns:delegateTaskCommand"/>
      <xs:element name="dummy-deadlines" type="tns:jaxbDeadlines"/>
      <xs:element name="exception" type="tns:jaxbExceptionResponse"/>
      <xs:element name="execute" type="tns:execute"/>
      <xs:element name="execute-task-rules-command" type="tns:executeTaskRulesCommand"/>
      <xs:element name="executeResponse" type="tns:executeResponse"/>
      <xs:element name="exit-task-command" type="tns:exitTaskCommand"/>
      <xs:element name="fact-handle" type="tns:defaultFactHandle"/>
      <xs:element name="fail-task-command" type="tns:failTaskCommand"/>
      <xs:element name="findActiveProcessInstancesCommand" type="tns:findActiveProcessInstancesCommand"/>
      <xs:element name="findNodeInstancesCommand" type="tns:findNodeInstancesCommand"/>
      <xs:element name="findProcessInstanceCommand" type="tns:findProcessInstanceCommand"/>
      <xs:element name="findProcessInstancesCommand" type="tns:findProcessInstancesCommand"/>
      <xs:element name="findSubProcessInstancesCommand" type="tns:findSubProcessInstancesCommand"/>
      <xs:element name="findVariableInstancesByNameCommand" type="tns:findVariableInstancesByNameCommand"/>
      <xs:element name="findVariableInstancesCommand" type="tns:findVariableInstancesCommand"/>
      <xs:element name="forward-task-command" type="tns:forwardTaskCommand"/>
      <xs:element name="get-attachment-command" type="tns:getAttachmentCommand"/>
      <xs:element name="get-content-command" type="tns:getContentCommand"/>
      <xs:element name="get-task-assigned-pot-owner-command" type="tns:getTaskAssignedAsPotentialOwnerCommand"/>
      <xs:element name="get-task-by-owner-command" type="tns:getTasksOwnedCommand"/>
      <xs:element name="get-task-by-proc-inst-id-command" type="tns:getTasksByProcessInstanceIdCommand"/>
      <xs:element name="get-task-by-status-proc-inst-id-command" type="tns:getTasksByStatusByProcessInstanceIdCommand"/>
      <xs:element name="get-task-by-various-fields-command" type="tns:getTasksByVariousFieldsCommand"/>
      <xs:element name="get-task-by-work-item-command" type="tns:getTaskByWorkItemIdCommand"/>
      <xs:element name="get-task-command" type="tns:getTaskCommand"/>
      <xs:element name="get-tasks-assigned-bus-admin-command" type="tns:getTaskAssignedAsBusinessAdminCommand"/>
      <xs:element name="i18n-text" type="tns:jaxbI18NText"/>
      <xs:element name="linked-list" type="tns:abstractBaseLinkedListNode"/>
      <xs:element name="log-instance-list" type="tns:jaxbHistoryLogList"/>
      <xs:element name="long-list" type="tns:jaxbLongListResponse"/>
      <xs:element name="node-instance-log" type="tns:jaxbNodeInstanceLog"/>
      <xs:element name="nominate-task-command" type="tns:nominateTaskCommand"/>
      <xs:element name="organizational-entity" type="tns:jaxbOrganizationalEntity"/>
      <xs:element name="other" type="tns:jaxbOtherResponse"/>
      <xs:element name="people-assignments" type="tns:jaxbPeopleAssignments"/>
      <xs:element name="primitive" type="tns:jaxbPrimitiveResponse"/>
      <xs:element name="process-instance" type="tns:jaxbProcessInstanceResponse"/>
      <xs:element name="process-instance-list" type="tns:jaxbProcessInstanceListResponse"/>
      <xs:element name="process-instance-log" type="tns:jaxbProcessInstanceLog"/>
      <xs:element name="process-sub-tasks-command" type="tns:processSubTaskCommand"/>
      <xs:element name="release-task-command" type="tns:releaseTaskCommand"/>
      <xs:element name="resume-task-command" type="tns:resumeTaskCommand"/>
      <xs:element name="skip-task-command" type="tns:skipTaskCommand"/>
      <xs:element name="start-task-command" type="tns:startTaskCommand"/>
      <xs:element name="stop-task-command" type="tns:stopTaskCommand"/>
      <xs:element name="suspend-task-command" type="tns:suspendTaskCommand"/>
      <xs:element name="task" type="tns:jaxbTask"/>
      <xs:element name="task-composite-command" type="tns:compositeCommand"/>
      <xs:element name="task-data" type="tns:jaxbTaskData"/>
      <xs:element name="task-response" type="tns:jaxbTaskResponse"/>
      <xs:element name="task-summary" type="tns:jaxbTaskSummary"/>
      <xs:element name="task-summary-list" type="tns:jaxbTaskSummaryListResponse"/>
      <xs:element name="variable-instance-log" type="tns:jaxbVariableInstanceLog"/>
      <xs:element name="variables" type="tns:jaxbVariablesResponse"/>
      <xs:element name="work-item" type="tns:jaxbWorkItem"/>

      <xs:complexType name="execute">
        <xs:sequence>
          <xs:element name="arg0" type="tns:jaxbCommandsRequest" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="jaxbCommandsRequest">
         <xs:annotation>
          <xs:appinfo>
            <jxb:class ref="org.kie.services.client.serialization.jaxb.impl.JaxbCommandsRequest"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:complexType>

      <xs:complexType name="executeResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:jaxbCommandsResponse" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="jaxbCommandsResponse">
        <xs:annotation>
          <xs:appinfo>
            <jxb:class ref="org.kie.services.client.serialization.jaxb.impl.JaxbCommandsResponse"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:complexType>

      <xs:complexType name="KieRemoteWebServiceException">
        <xs:annotation>
          <xs:appinfo>
            <jxb:class ref="org.kie.services.client.serialization.jaxb.impl.JaxbCommandsResponse"/>
          </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="faultInfo" type="tns:webServiceFaultInfo" minOccurs="0"/>
          <xs:element name="message" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="webServiceFaultInfo">
        <xs:complexContent>
          <xs:extension base="tns:serializableServiceObject">
            <xs:sequence>
              <xs:element name="correlationId" type="xs:string" minOccurs="0"/>
              <xs:element name="type" type="tns:exceptionType" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="serializableServiceObject" abstract="true">
        <xs:sequence/>
      </xs:complexType>

      <xs:simpleType name="type">
        <xs:restriction base="xs:string">
          <xs:enumeration value="USER"/>
          <xs:enumeration value="GROUP"/>
        </xs:restriction>
      </xs:simpleType>

      <xs:simpleType name="status">
        <xs:restriction base="xs:string">
          <xs:enumeration value="Created"/>
          <xs:enumeration value="Ready"/>
          <xs:enumeration value="Reserved"/>
          <xs:enumeration value="InProgress"/>
          <xs:enumeration value="Suspended"/>
          <xs:enumeration value="Completed"/>
          <xs:enumeration value="Failed"/>
          <xs:enumeration value="Error"/>
          <xs:enumeration value="Exited"/>
          <xs:enumeration value="Obsolete"/>
        </xs:restriction>
      </xs:simpleType>

      <xs:simpleType name="jaxbRequestStatus">
        <xs:restriction base="xs:string">
          <xs:enumeration value="SUCCESS"/>
          <xs:enumeration value="FAILURE"/>
          <xs:enumeration value="BAD_REQUEST"/>
          <xs:enumeration value="FORBIDDEN"/>
          <xs:enumeration value="PERMISSIONS_CONFLICT"/>
          <xs:enumeration value="NOT_FOUND"/>
        </xs:restriction>
      </xs:simpleType>

      <xs:simpleType name="subTasksStrategy">
        <xs:restriction base="xs:string">
          <xs:enumeration value="NoAction"/>
          <xs:enumeration value="EndParentOnAllSubTasksEnd"/>
          <xs:enumeration value="SkipAllSubTasksOnParentSkip"/>
        </xs:restriction>
      </xs:simpleType>

      <xs:simpleType name="exceptionType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="SYSTEM"/>
          <xs:enumeration value="CONFIGURATION"/>
          <xs:enumeration value="VALIDATION"/>
          <xs:enumeration value="PERMISSION"/>
          <xs:enumeration value="CONFLICT"/>
        </xs:restriction>
      </xs:simpleType>

      <xs:complexType name="jaxbStringObjectPairArray" final="#all">
        <xs:sequence>
          <xs:element name="item" type="tns:jaxbStringObjectPair" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
</xs:schema>
  </types>
  <message name="execute">
    <part name="parameters" element="tns:execute"/>
  </message>
  <message name="executeResponse">
    <part name="parameters" element="tns:executeResponse"/>
  </message>
  <message name="KieRemoteWebServiceException">
    <part name="fault" element="tns:KieRemoteWebServiceException"/>
  </message>
  <portType name="CommandService">
    <operation name="execute">
      <input wsam:Action="http://services.remote.kie.org/command/CommandService/executeRequest" message="tns:execute"/>
      <output wsam:Action="http://services.remote.kie.org/command/CommandService/executeResponse" message="tns:executeResponse"/>
      <fault message="tns:KieRemoteWebServiceException" name="KieRemoteWebServiceException" wsam:Action="http://services.remote.kie.org/command/CommandService/execute/Fault/KieRemoteWebServiceException"/>
    </operation>
  </portType>
  <binding name="CommandServicePortBinding" type="tns:CommandService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="execute">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="KieRemoteWebServiceException">
        <soap:fault name="KieRemoteWebServiceException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="CommandService">
    <port name="CommandServicePort" binding="tns:CommandServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

