gen/src/main/resources/META-INF/wsdl/ProcessService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. -->
<definitions targetNamespace="http://services.remote.kie.org/6.1.0.1/process" name="ProcessService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://services.remote.kie.org/6.1.0.1/process" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xs:schema version="1.0" targetNamespace="http://services.remote.kie.org/6.1.0.1/process" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:element name="KieRemoteWebServiceException" type="tns:KieRemoteWebServiceException"/>

      <xs:element name="abortProcess" type="tns:abortProcess"/>

      <xs:element name="abortProcessResponse" type="tns:abortProcessResponse"/>

      <xs:element name="abortWorkItem" type="tns:abortWorkItem"/>

      <xs:element name="abortWorkItemResponse" type="tns:abortWorkItemResponse"/>

      <xs:element name="completeWorkItem" type="tns:completeWorkItem"/>

      <xs:element name="completeWorkItemResponse" type="tns:completeWorkItemResponse"/>

      <xs:element name="getProcessInstanceInfo" type="tns:getProcessInstanceInfo"/>

      <xs:element name="getProcessInstanceInfoResponse" type="tns:getProcessInstanceInfoResponse"/>

      <xs:element name="signalProcess" type="tns:signalProcess"/>

      <xs:element name="signalProcessResponse" type="tns:signalProcessResponse"/>

      <xs:element name="startProcess" type="tns:startProcess"/>

      <xs:element name="startProcessResponse" type="tns:startProcessResponse"/>

      <xs:complexType name="completeWorkItem">
        <xs:sequence>
          <xs:element name="arg0" type="tns:WorkItemIdRequest" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="WorkItemIdRequest">
        <xs:complexContent>
          <xs:extension base="tns:serializableServiceObject">
            <xs:sequence>
              <xs:element name="deploymentId" type="xs:string"/>
              <xs:element name="workItemId" type="xs:int"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="serializableServiceObject" abstract="true">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="completeWorkItemResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="KieRemoteWebServiceException">
        <xs:sequence>
          <xs:element name="faultInfo" type="tns:WebServiceFaultInfo" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="WebServiceFaultInfo">
        <xs:complexContent>
          <xs:extension base="tns:serializableServiceObject">
            <xs:sequence>
              <xs:element name="type" type="tns:exceptionType" minOccurs="0"/>
              <xs:element name="correlationId" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="signalProcess">
        <xs:sequence>
          <xs:element name="arg0" type="tns:ProcessInstanceIdAndSignalRequest" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="ProcessInstanceIdAndSignalRequest">
        <xs:sequence>
          <xs:element name="deploymentId" type="xs:string"/>
          <xs:element name="processInstanceId" type="xs:string" minOccurs="0"/>
          <xs:element name="type" type="xs:string"/>
          <xs:any processContents="skip" namespace="##other"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="signalProcessResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="startProcess">
        <xs:sequence>
          <xs:element name="arg0" type="tns:ProcessDefIdAndParametersRequest" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="ProcessDefIdAndParametersRequest">
        <xs:sequence>
          <xs:element name="deploymentId" type="xs:string"/>
          <xs:element name="processDefinitionId" type="xs:string"/>
          <xs:element name="parameters">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="key" minOccurs="0" type="xs:string"/>
                      <xs:element name="value" minOccurs="0" type="xs:anyType"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="startProcessResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:ProcessInstanceResponse" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="ProcessInstanceResponse">
        <xs:sequence>
          <xs:element name="id" type="xs:long"/>
          <xs:element name="state" type="xs:int"/>
          <xs:element name="processId" type="xs:string"/>
          <xs:element name="eventTypes" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="abortProcess">
        <xs:sequence>
          <xs:element name="arg0" type="tns:ProcessInstanceIdAndSignalRequest" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="abortProcessResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="abortWorkItem">
        <xs:sequence>
          <xs:element name="arg0" type="tns:WorkItemIdRequest" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="abortWorkItemResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="getProcessInstanceInfo">
        <xs:sequence>
          <xs:element name="arg0" type="tns:ProcessInstanceInfoRequest" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="ProcessInstanceInfoRequest">
        <xs:sequence>
          <xs:element name="deploymentId" type="xs:string"/>
          <xs:element name="processInstanceId" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="getProcessInstanceInfoResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:ProcessInstanceResponse" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:simpleType name="exceptionType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="SYSTEM"/>
          <xs:enumeration value="CONFIGURATION"/>
          <xs:enumeration value="VALIDATION"/>
          <xs:enumeration value="PERMISSION"/>
          <xs:enumeration value="CONFLICT"/>
        </xs:restriction>
      </xs:simpleType>
</xs:schema>
  </types>
  <message name="startProcess">
    <part name="parameters" element="tns:startProcess"/>
  </message>
  <message name="startProcessResponse">
    <part name="parameters" element="tns:startProcessResponse"/>
  </message>
  <message name="KieRemoteWebServiceException">
    <part name="fault" element="tns:KieRemoteWebServiceException"/>
  </message>
  <message name="abortProcess">
    <part name="parameters" element="tns:abortProcess"/>
  </message>
  <message name="abortProcessResponse">
    <part name="parameters" element="tns:abortProcessResponse"/>
  </message>
  <message name="signalProcess">
    <part name="parameters" element="tns:signalProcess"/>
  </message>
  <message name="signalProcessResponse">
    <part name="parameters" element="tns:signalProcessResponse"/>
  </message>
  <message name="getProcessInstanceInfo">
    <part name="parameters" element="tns:getProcessInstanceInfo"/>
  </message>
  <message name="getProcessInstanceInfoResponse">
    <part name="parameters" element="tns:getProcessInstanceInfoResponse"/>
  </message>
  <message name="completeWorkItem">
    <part name="parameters" element="tns:completeWorkItem"/>
  </message>
  <message name="completeWorkItemResponse">
    <part name="parameters" element="tns:completeWorkItemResponse"/>
  </message>
  <message name="abortWorkItem">
    <part name="parameters" element="tns:abortWorkItem"/>
  </message>
  <message name="abortWorkItemResponse">
    <part name="parameters" element="tns:abortWorkItemResponse"/>
  </message>
  <portType name="ProcessService">
    <operation name="startProcess">
      <input wsam:Action="http://services.remote.kie.org/6.1.0.1/process/ProcessService/startProcessRequest" message="tns:startProcess"/>
      <output wsam:Action="http://services.remote.kie.org/6.1.0.1/process/ProcessService/startProcessResponse" message="tns:startProcessResponse"/>
      <fault message="tns:KieRemoteWebServiceException" name="KieRemoteWebServiceException" wsam:Action="http://services.remote.kie.org/6.1.0.1/process/ProcessService/startProcess/Fault/KieRemoteWebServiceException"/>
    </operation>
    <operation name="abortProcess">
      <input wsam:Action="http://services.remote.kie.org/6.1.0.1/process/ProcessService/abortProcessRequest" message="tns:abortProcess"/>
      <output wsam:Action="http://services.remote.kie.org/6.1.0.1/process/ProcessService/abortProcessResponse" message="tns:abortProcessResponse"/>
      <fault message="tns:KieRemoteWebServiceException" name="KieRemoteWebServiceException" wsam:Action="http://services.remote.kie.org/6.1.0.1/process/ProcessService/abortProcess/Fault/KieRemoteWebServiceException"/>
    </operation>
    <operation name="signalProcess">
      <input wsam:Action="http://services.remote.kie.org/6.1.0.1/process/ProcessService/signalProcessRequest" message="tns:signalProcess"/>
      <output wsam:Action="http://services.remote.kie.org/6.1.0.1/process/ProcessService/signalProcessResponse" message="tns:signalProcessResponse"/>
      <fault message="tns:KieRemoteWebServiceException" name="KieRemoteWebServiceException" wsam:Action="http://services.remote.kie.org/6.1.0.1/process/ProcessService/signalProcess/Fault/KieRemoteWebServiceException"/>
    </operation>
    <operation name="getProcessInstanceInfo">
      <input wsam:Action="http://services.remote.kie.org/6.1.0.1/process/ProcessService/getProcessInstanceInfoRequest" message="tns:getProcessInstanceInfo"/>
      <output wsam:Action="http://services.remote.kie.org/6.1.0.1/process/ProcessService/getProcessInstanceInfoResponse" message="tns:getProcessInstanceInfoResponse"/>
      <fault message="tns:KieRemoteWebServiceException" name="KieRemoteWebServiceException" wsam:Action="http://services.remote.kie.org/6.1.0.1/process/ProcessService/getProcessInstanceInfo/Fault/KieRemoteWebServiceException"/>
    </operation>
    <operation name="completeWorkItem">
      <input wsam:Action="http://services.remote.kie.org/6.1.0.1/process/ProcessService/completeWorkItemRequest" message="tns:completeWorkItem"/>
      <output wsam:Action="http://services.remote.kie.org/6.1.0.1/process/ProcessService/completeWorkItemResponse" message="tns:completeWorkItemResponse"/>
      <fault message="tns:KieRemoteWebServiceException" name="KieRemoteWebServiceException" wsam:Action="http://services.remote.kie.org/6.1.0.1/process/ProcessService/completeWorkItem/Fault/KieRemoteWebServiceException"/>
    </operation>
    <operation name="abortWorkItem">
      <input wsam:Action="http://services.remote.kie.org/6.1.0.1/process/ProcessService/abortWorkItemRequest" message="tns:abortWorkItem"/>
      <output wsam:Action="http://services.remote.kie.org/6.1.0.1/process/ProcessService/abortWorkItemResponse" message="tns:abortWorkItemResponse"/>
      <fault message="tns:KieRemoteWebServiceException" name="KieRemoteWebServiceException" wsam:Action="http://services.remote.kie.org/6.1.0.1/process/ProcessService/abortWorkItem/Fault/KieRemoteWebServiceException"/>
    </operation>
  </portType>
  <binding name="ProcessServicePortBinding" type="tns:ProcessService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="startProcess">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="KieRemoteWebServiceException">
        <soap:fault name="KieRemoteWebServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="abortProcess">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="KieRemoteWebServiceException">
        <soap:fault name="KieRemoteWebServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="signalProcess">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="KieRemoteWebServiceException">
        <soap:fault name="KieRemoteWebServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="getProcessInstanceInfo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="KieRemoteWebServiceException">
        <soap:fault name="KieRemoteWebServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="completeWorkItem">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="KieRemoteWebServiceException">
        <soap:fault name="KieRemoteWebServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="abortWorkItem">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="KieRemoteWebServiceException">
        <soap:fault name="KieRemoteWebServiceException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="ProcessService">
    <port name="ProcessServicePort" binding="tns:ProcessServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

